body {
    font-family: 'Roboto Condensed', sans-serif;
}

#heading {
    background-color: #D44500;
}

#heading h1 {
    font-size: 24pt;
    color: white;
    margin-right: 10px;
    margin-left: 50px;
    display: inline-block;
}

#scatter-plot-matrix {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

#scatter-plot-matrix svg {
    font-size: 14px;
    padding: 10px;
    margin-left: 50%;
}

#scatter-plot-matrix .axis {
    shape-rendering: crispEdges;
}

#scatter-plot-matrix .axis line {
    stroke: #ddd;
}

#scatter-plot-matrix .axis path {
    display: none;
}

#scatter-plot-matrix .cell text {
    font-weight: bold;
    text-transform: capitalize;
}

#scatter-plot-matrix .frame {
    shape-rendering: crispEdges;
    fill: none;
    stroke: #aaa;
}

#scatter-plot-matrix circle {
    fill-opacity: .7;
}

#scatter-plot-matrix circle.hidden {
    fill: #ccc !important;
}

#scatter-plot-matrix .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

#parallel-coord .background path {
    fill: none;
    stroke: #E8EAEB;
    shape-rendering: crispEdges;
}

#parallel-coord .foreground path {
    fill: none;
    stroke: #D44500;
}

#parallel-coord .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#parallel-coord .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#parallel-coord .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#parallel-coord .axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}
